@font-face {
  font-family: MMSans;
  src: url("https://9346563.fs1.hubspotusercontent-na1.net/hubfs/9346563/Fonts/MannMadeSans2022.otf")
    format("opentype");
}

* {
  font-family: MMSans, sans-serif;
}
