@font-face {
  font-family: MMSans;
  src: url("https://9346563.fs1.hubspotusercontent-na1.net/hubfs/9346563/Fonts/MannMadeSans2022.otf")
    format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.mm-sans {
  font-family: MMSans, sans-serif;
}
