.clients {
  padding: 85px 0;
  background-color: #000;
  color: #fff;

  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
  }

  &__images {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  &__image {
    height: 100px;
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: breakpoint(md)) {
  .clients {
    &__title {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 30px;
    }

    &__images {
      padding: 0 20px;
    }
  }
}
