.hero {
  background-color: #000;
  color: #fff;
  padding: 175px 0;

  &__image-holder {
    position: relative;

    .play-icon {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 82px;
      cursor: pointer;
    }
  }
  &__image {
    width: 100%;
  }

  &__text {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 20px;
    max-width: 440px;
  }
}

.video-modal {
  opacity: 0;
  z-index: -2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 300ms opacity ease-in-out, 300ms z-index ease-in-out;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  video {
    width: 80%;
    max-height: 80%;
    object-fit: contain;
  }

  &.active {
    opacity: 1;
    z-index: 300;
  }
}

@media (max-width: breakpoint(md)) {
  .hero {
    &__image-holder {
      .play-icon {
        width: 62px;
      }
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .video-modal {
    &__close {
      svg {
        width: 28px;
        height: 28px;
      }
    }
    video {
      width: 90%;
      max-height: 40%;
      object-fit: contain;
    }
  }
  .hero {
    padding: 80px 0;

    &__image-holder {
      .play-icon {
        width: 42px;
      }
    }

    &__text {
      margin-top: 40px;
    }
  }
}
