.hero {
  background-color: #000;
  color: #fff;
  padding: 175px 0;

  &__main-text {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: MMSans, sans-serif !important;
    margin-bottom: 6px;
    width: max-content;

    * {
      font-family: MMSans, sans-serif !important;
    }

    img {
      margin: 0 12px;
      margin-top: -15px;
    }

    .circle-icon {
      max-height: 60px;
    }
  }

  &__image-holder {
    position: relative;

    .play-icon {
      // position: absolute;
      // bottom: 0;
      // right: 0;
      width: 74px;
      cursor: pointer;
    }
  }
  &__image {
    width: 100%;
  }

  &__text {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 20px;
    max-width: 440px;
  }
}

.video-modal {
  opacity: 0;
  z-index: -2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 300ms opacity ease-in-out, 300ms z-index ease-in-out;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  video {
    width: 80%;
    max-height: 80%;
    object-fit: contain;
  }

  &.active {
    opacity: 1;
    z-index: 300;
  }
}

@media (max-width: breakpoint(md)) {
  .hero {
    &__main-text {
      font-size: 36px;
      line-height: 48px;
    }
    &__image-holder {
      .play-icon {
        width: 62px;
      }
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .video-modal {
    &__close {
      svg {
        width: 28px;
        height: 28px;
      }
    }
    video {
      width: 90%;
      max-height: 40%;
      object-fit: contain;
    }
  }
  .hero {
    padding: 80px 0;

    &__main-text {
      // font-size: 30px;
      // line-height: 37px;
      margin-bottom: 6px;

      img {
        margin: 0 6px;
        margin-top: -10px;
        max-height: 44px;
      }

      .circle-icon {
        max-height: 37px;
      }
    }

    .container {
      max-width: 90%;
    }

    &__image-holder {
      .play-icon {
        width: auto;
      }
    }

    &__text {
      margin-top: 40px;

      p * {
        font-size: 16px !important;
      }
    }
  }
}

@media (max-width: 410px) {
  .hero {
    padding: 80px 0;

    &__main-text {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 4px;

      img {
        margin-top: -10px;
        max-height: 36px;
        object-fit: contain;
      }

      .circle-icon {
        max-height: 30px;
      }
    }
  }
}
