<div class="text-media assets-{{ module.assets_type }}" id="{{ module.id_field }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="text-media__text">{{ module.richtext_field }}</div>
        <a class="text-media__button button btn-{{ module.assets_type }}" href="{{ module.button.button_link.href }}">{{ module.button.button_text }}</a>
      </div>
    </div>
  </div>

  <div class="text-media__absolute w-100 h-100">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-12 col-md-6">
        <div class="text-media__media">

          {% if module.media.type == "video" %}
            {% if module.media.videoplayer_field.player_id %}
              <div class="text-media__video-holder">
                {% set max_width = module.media.videoplayer_field.size_type == 'auto_custom_max' ? module.media.videoplayer_field.max_width : module.media.videoplayer_field.width %}
                {% set max_height = module.media.videoplayer_field.size_type == 'auto_custom_max' ? module.media.videoplayer_field.max_height : module.media.videoplayer_field.height %}
                {% widget_block video_player "embed_player"
                  overrideable=False,
                  type='scriptV4',
                  hide_playlist=True,
                  viral_sharing=False,
                  embed_button=False,
                  full_width={{ module.media.videoplayer_field.size_type == 'auto_full_width' }},
                  width="{{ max_width }}",
                  height="{{ max_height }}",
                  player_id="{{ module.media.videoplayer_field.player_id }}"
                %}
                {% widget_attribute "conversion_asset" %}
                {{ module.media.videoplayer_field.conversion_asset|tojson|safe }}
                {% end_widget_attribute %}
                {% end_widget_block %}
              </div>
            {% endif %}
          {% elif module.media.type == "image" %}
            <img class="text-media__video" src="{{ module.media.image_field.src }}" alt="{{ module.media.image_field.alt }}" />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
